﻿@typeparam TItem
@using System.Diagnostics.CodeAnalysis
@inject HttpClient Http
@inject NavigationManager NavManager
@using Model
@using static ExtensionMethod;

<EditForm Model="@ItemEditModel">
    @foreach(var propertyName in typeof(TItem).GetProperties().Select(x => x.Name).ToArray())
    {
        @if (PropertyVars.ContainsKey(propertyName))
        {
            <td>
                <b>@propertyName</b><br>
                <input @bind="PropertyVars[propertyName]"/>
            </td>
        }
    }
    <td><b>Action</b><br /><input type="submit" @onclick="@updateGeneric"/></td>
</EditForm>

@code{
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string Api {  get;  set; }

    [Parameter]
    public TItem ItemEditModel { get; set; }

    public Dictionary<string, string> PropertyVars { get; set; } = new Dictionary<string, string>();

    public string[] FieldsList
    {
        get
        {
            return typeof(TItem).GetProperties().Select(x => x.Name).ToArray();
        }
    }
    protected override async Task OnInitializedAsync()
    {
        foreach (var propertyName in typeof(TItem).GetProperties().Select(x => x.Name).ToArray())
        {
            try
            {
                var propertyInfo = ItemEditModel.GetType().GetProperty(propertyName);
                PropertyVars.Add(propertyName, 
                propertyInfo?.GetValue(ItemEditModel).ToString());

            }

            catch (Exception ee)
            {

            }
            finally {}
        }
    }
    private async Task updateGeneric()
    {
        foreach (var propertyName in FieldsList)
        {
            try
            {
                var propertyInfo = ItemEditModel.GetType().GetProperty(propertyName);


                var uu = PropertyVars[propertyName].GetType();
                var tp = uu.Name;
                string n = propertyInfo.PropertyType.Name;

                if(uu==propertyInfo?.PropertyType)
                {
                    propertyInfo.SetValue(ItemEditModel,
                    Convert.ChangeType(PropertyVars[propertyName], propertyInfo.PropertyType), null);
                }
                else
                {
                    if (n.Contains("Null"))
                        propertyInfo?.SetValue(ItemEditModel,
                        Convert.ChangeType(PropertyVars[propertyName], Nullable.GetUnderlyingType(propertyInfo.PropertyType)), null);
                    else
                        propertyInfo?.SetValue(ItemEditModel,
                        Convert.ChangeType(PropertyVars[propertyName], propertyInfo.PropertyType), null);
                }

            }
            catch(Exception ee)
            {

            }
        }

        if(Id==0)
        {
            await Http.PutAsJsonAsync($"https://localhost:7256/api/{@Api}/", ItemEditModel);
        } 
        else
        {
            await Http.PutAsJsonAsync<TItem>($"https://localhost:7256/api/{@Api}/{@Id}/", ItemEditModel);
        }
        
        
        NavManager.NavigateTo("fetchdata");
    }
}