﻿@typeparam TItem
@using System.Diagnostics.CodeAnalysis
@using Model;
@using static ExtensionMethod;
<table class="table">
    <thead>
        <tr>
             <th>Action</th>
            @foreach(var item in typeof(TItem).GetProperties())
            {
                <th>@item.Name</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr><td><a href="/editdata/">Create</a></td></tr>
        @foreach (var item in Items)
        {
            <tr>
                <td>
                    <a href="/editdata/@GetPropValue(@item, "Id")">Edit</a>
                    <a href="/deletedata/@GetPropValue(@item, "Id")">Delete</a>
                </td>
                @foreach(var item2 in typeof(TItem).GetProperties())
                {
                    <td>@GetPropValue(@item, item2.Name)</td>
                }

            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public RenderFragment? TableHeader { get; set; }

    [Parameter]
    public RenderFragment<TItem>? RowTemplate { get; set; }

    [Parameter, AllowNull]
    public IReadOnlyList<TItem> Items { get; set; }
}