﻿@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

  <table @ref="testRef" tabindex="0" @onkeydown="HandleKeyDown">
    <thead>
        <tr>
            <th>
                Pressed Key
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @pressedKey
            </td>
        </tr>
    </tbody>
    </table>

<svg class="pacman-right" viewBox="0 0 100 100">
        <circle cx="50%" cy="50%" r="25%" />
    </svg>

    <svg class="pacman-down" viewBox="0 0 100 100">
        <circle cx="50%" cy="50%" r="25%" />
    </svg>
        <svg class="pacman-up"  viewBox="0 0 100 100">
        <circle cx="50%" cy="50%" r="25%" />
    </svg>
        <svg class="pacman-left" viewBox="0 0 100 100">
        <circle cx="50%" cy="50%" r="25%" />
    </svg>
<svg viewBox="0 0 800 600" id="back" xmlns="http://www.w3.org/2000/svg">

    <svg width="50" height="50" class="@richtung" viewBox="0 0 100 100">
        <circle cx="50%" cy="50%" r="25%" />
    </svg>


</svg>


@code {
    private Canvas2DContext _context;
    private BECanvasComponent _canvasReference;
    private ElementReference testRef;
    private string pressedKey;
    private string richtung = "pacman-right";
    private void HandleKeyDown(KeyboardEventArgs e)
    {
        pressedKey = e.Key;
        if (e.Key == "ArrowUp")
        {
            richtung = "pacman-up";
        }
        if (e.Key == "ArrowDown")
        {
            richtung = "pacman-down";
        }
        if (e.Key == "ArrowLeft")
        {
            richtung = "pacman-left";
        }
        if (e.Key == "ArrowRight")
        {
            richtung = "pacman-right";
        }

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await testRef.FocusAsync();
        }
    }
    

}
