﻿@page "/createdata"
@inject HttpClient Http
@inject NavigationManager NavManager
@using Model;

<PageTitle>CREATE</PageTitle>

<h1>Create Student</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (pupil == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@pupil">
              <input type="text" placeholder="Enter your text" @bind-value=@pupil.Id/>
              <input type="text" placeholder="Enter your text" @bind-value=@pupil.Vorname/>
              <input type="text" placeholder="Enter your text" @bind-value=@pupil.Nachname/>     
              <input type="datetime" placeholder="Enter your text" @bind-value=@pupil.Geburtsdatum/>
              <input type = "submit" @onclick="@UpdatePupil"/>
    </EditForm>
}
@code{

    private TSchueler pupil = new TSchueler();


    private async Task UpdatePupil()
    {
        await Http.PostAsJsonAsync<TSchueler>("https://localhost:7256/api/Pupil/", pupil);

        NavManager.NavigateTo("fetchdata");
    }
}