﻿@page "/deletedata/{id:int}"
@inject HttpClient Http
@inject NavigationManager NavManager
@using Model;


@if (pupil == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@pupil">
        <h1>Pupil mit der ID @pupil.Id wird gelöscht. Bist da sicher?</h1>
        <input type ="submit" @onclick="@DeletePupil"/>
    </EditForm>
}

@code{
    [Parameter]
    public int Id { get; set; }
    private TSchueler pupil;
    protected override async Task OnInitializedAsync()
    {
        pupil = await Http.GetFromJsonAsync<TSchueler>("https://localhost:7256/api/Pupil/" + Id);
    }
    private async Task DeletePupil()
    {
        await Http.DeleteAsync("https://localhost:7256/api/Pupil/" + Id);

        NavManager.NavigateTo("fetchdata");
    }
}