﻿@page "/editdata"
@inject HttpClient Http
@inject NavigationManager NavManager
@using Model;

<PageTitle>EDIT</PageTitle>

<h1>Edit Student-List</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (pupil == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <GenericEditTemplate ItemEditModel="pupil" Id="@Id" Api="Pupil"></GenericEditTemplate>
}


@code {
    public TSchueler pupil { get; set; } = new TSchueler() { Vorname = "", Nachname = "" };
    
    public int Id = 0;

}