﻿@page "/editdataold/{id:int}"
@inject HttpClient Http
@inject NavigationManager NavManager
@using Model;

<PageTitle>EDIT</PageTitle>

<h1>Edit Student-List</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (pupil == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@pupil">
              <input @bind=@pupil.Id/>
              <input @bind=@pupil.Vorname/>
              <input @bind=@pupil.Nachname/>     
              <input @bind=@pupil.Geburtsdatum/>
              <input type = "submit" @onclick="@UpdatePupil"/>
    </EditForm>
}

@code{
    [Parameter]
    public int Id { get; set; }
    private TSchueler pupil;
    protected override async Task OnInitializedAsync()
    {
        pupil = await Http.GetFromJsonAsync<TSchueler>("https://localhost:7256/api/Pupil/" + Id);
    }
    private async Task UpdatePupil()
    {
        await Http.PutAsJsonAsync<TSchueler>("https://localhost:7256/api/Pupil/" + Id, pupil);

        NavManager.NavigateTo("fetchdata");
    }
}