﻿@page "/fetchdata"
@inject HttpClient Http
@using Model;

<PageTitle>Student List</PageTitle>

<h1>Student List</h1>

<p>This component demonstrates fetching pubils from the server.</p>

@if (pubils == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <TableTemplate Items="pubils" Context="pubil"/>
}

@code {
    private TSchueler[]? pubils;

    protected override async Task OnInitializedAsync()
    {
        pubils = await Http.GetFromJsonAsync<TSchueler[]>("https://localhost:7256/api/Schueler");
    }
}