﻿
@page "/fetchdatatemp"
@inject HttpClient Http
@using Model;

<PageTitle>Student List</PageTitle>

<h1>Student List</h1>

<p>This component demonstrates fetching pupils from the server.</p>

@if (pupils == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <TableTemplate Items="pupils" Context="pupil">
    <TableHeader>
        <th>ID</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Geburtsdatum</th>
    </TableHeader>
    
    <RowTemplate>
        <td>
            <a href="/editdata/@pupil.Id.ToString()">Edit</a>
            <a href="/deletedata/@pupil.Id.ToString()">Delete</a>
        </td>
        <td>@pupil.Id</td>
        <td>@pupil.Vorname</td>
        <td>@pupil.Nachname</td>
        <td>@pupil.Geburtsdatum</td>
    </RowTemplate>
</TableTemplate>
    
}

@code {
    private TSchueler[]? pupils;

    protected override async Task OnInitializedAsync()
    {
        pupils = await Http.GetFromJsonAsync<TSchueler[]>("https://localhost:7256/api/Schueler");
    }
}
