﻿@page "/fetchdata123"
@inject HttpClient Http

@using Model;

<PageTitle>Student List</PageTitle>

<h1>Student Liste</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (Schueler == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Action</th>
                <th>ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Born</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td> <a href="/createdata">Create</a></td>
                </tr>
            @foreach (var pupils in Schueler)
            {

                <tr>

                    <td>
                        <a href="/editdata/@pupils.Id.ToString()">Edit</a>
                        <a href="/deletedata/@pupils.Id.ToString()">Delete</a>
                    </td>
                    
                    <td>@pupils.Id</td>
                    <td>@pupils.Vorname</td>
                    <td>@pupils.Nachname</td>
                    <td>@pupils.Geburtsdatum</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private TSchueler[]? Schueler;

    protected override async Task OnInitializedAsync()
    {
       Schueler = await Http.GetFromJsonAsync<TSchueler[]>("https://localhost:7256/api/Schueler");
    }


}
