﻿@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Memos Spielemix</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<table @ref="testRef" tabindex="0" @onkeydown="HandleKeyDown">
    <thead>
        <tr>
            <th>
                Pressed Key
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @pressedKey
            </td>
        </tr>
    </tbody>
</table>
    <div>
        @item?.count
    </div>

    <div style="background-color:lightblue;width:800px;height:300px">

            <svg height="300" width="800" style="margin-top:background-color:lightcyan" @onmousemove="HandleMouse" xmlns="http://www.w3.org/2000/svg">
        <circle cx="@item?.X" cy="@item?.Y" r="@item?.R" stroke="black" stroke-width="1" fill="red" />
         <rect x="@player?.X" y="@(player?.Y)" width="@player?.W" height="@player?.H" style="fill:rgb(255,0,0);stroke-width:1;stroke:rgb(255,0,0)" />

      </svg>
     
      <svg id="pacman" height="50" width="50" style="margin-top:-570;top:@pacman?.Y;left:@pacman?.X" class="@pacmanclass" viewBox="0 0 100 100" >
        <circle cx="50%" cy="50%" r="25%" />          
      </svg>



    </div>



@code {
    private string pressedKey = "";
    Player player = new Player(0, 280, 20, 5);
    PacMan pacman = new PacMan(100, 20);
    Item item = new Item(100, 20, 5);
    private string pacmanclass = "RIGHT";
    private ElementReference testRef;
    private void HandleKeyDown(KeyboardEventArgs e)
    {
        pressedKey = e.Key; // just 4 fun      

        if (e.Key.ToString() == "ArrowRight"){
            player.Move(Direction.RIGHT);
            pacman.Move(Direction.RIGHT);
            pacmanclass = "RIGHT";
        } 
        if (e.Key.ToString() == "ArrowLeft")
        {
            player.Move(Direction.LEFT);
            pacman.Move(Direction.LEFT);
            pacmanclass = "LEFT";
        }
        if (e.Key.ToString() == "ArrowDown")
        {
            pacman.Move(Direction.DOWN);
            pacmanclass = "DOWN";
        }
        if (e.Key.ToString() == "ArrowUp")
        {
            pacmanclass = "UP";
            pacman.Move(Direction.UP);
        }

        
        StateHasChanged();
    }

    public static int step = 20;
    public enum Direction{LEFT,DOWN,RIGHT,UP}
    private System.Threading.Timer? timer; // NOTE: THIS LINE OF CODE ADDED

    protected override void OnInitialized()
    {
        timer = new System.Threading.Timer( (object? stateInfo) =>
    {
       item.Move(Direction.DOWN);
       StateHasChanged(); // NOTE: MUST CALL StateHasChanged() 
                          // BECAUSE THIS IS TRIGGERED BY A TIMER INSTEAD OF A USER EVENT
    }, new System.Threading.AutoResetEvent(false), 50, 50); // fire every 50 milliseconds

    
    }
    private void HandleMouse(MouseEventArgs e)
    {
        player.SetX( (int)e.OffsetX);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await testRef.FocusAsync();
        }
        item?.Collision(pacman);
        
    }



}
