﻿@page "/"
@namespace CanvasUebung.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<component type="typeof(App)" render-mode="ServerPrerendered" />
 <script>
        window.SetFocusToElement = (element) => {
            element.focus();
        };
    </script>