﻿@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using CanvasUebung.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>
<div @onkeydown="@KeyDown" tabindex="0" @ref="myDiv">
   <h1>  @letter </h1>   
</div>
<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
 

    <table class="table">

        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
    <div style="width:400px;">
      <BECanvas Width="1000" Height="100" @ref="myChart"></BECanvas>
   </div>

   <svg xmlns="http://www.w3.org/2000/svg" viewBox="-100 100 500 300">
        <!-- VERTIKALE LINIEN-->
        @for(int i = 100; i<=200; i = i+10)
        {
            <line x1="0" y1=@i x2="200" y2=@i style="stroke:grey;stroke-width:0.5;stroke-opacity:50%" />
        }
        <!--HORIZINTALE LINIEN-->
        @for (int i = 0; i<=200; i = i+10)
        {
            <line x1=@i y1="0" x2=@i y2="200" style="stroke:grey;stroke-width:0.5;stroke-opacity:50%" />
        }
        <!--HISTOGRAMM-->
        @for(int i = 0, posx = 0; i< forecasts.Length; i++, posx= posx + 20)
        {
            if (@forecasts[i].TemperatureC >= 0)
            {
                int posy = 150 - @forecasts[i].TemperatureC;
                <rect x=@posx width=10 y=@posy height=@forecasts[i].TemperatureC fill="green"></rect>
            }
            else
            {
                int posy = 150;
                h = - @forecasts[i].TemperatureC;
                <rect x=@posx width=10 y=@posy height=@h fill="blue"></rect>
                
             }           
        }
                    <line x1="0" y1="0" x2="0" y2="200" style="stroke:black;stroke-width:1" />
            <line x1="0" y1="150" x2="200" y2="150" style="stroke:black;stroke-width:1" />
            

    </svg>



}


@code {
    private WeatherForecast[]? forecasts;
    private int h;
    private string letter;
    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
       private Canvas2DContext _context;
    private BECanvasComponent myChart;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            this._context = await this.myChart.CreateCanvas2DAsync();
            
        }
        if (this._context == null) return;
    }
    protected ElementReference myDiv;  // set by the @ref attribute

    protected void KeyDown(KeyboardEventArgs e)
    {
    letter = $"Pressed: [{e.Key}]";
    
    }
}