﻿@page "/fetchdata"
@inject HttpClient Http
@using Karusell

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>


@if (autosG == null || autosQ==null)
{
    <p>Loading</p>
}
else{
<div style="position:relative;background-color:lightblue;width:800px;height:500px">  
    <svg height="500" width="800"style="background-color:lightcyan" xmlns="http://www.w3.org/2000/svg">
        <ellipse cx="200" cy="200" rx="80" ry="100" style="fill:none;stroke:purple;stroke-width:2"></ellipse>
            @for (int i = 0; i <= 180; i+=10)
            {
                 <ellipse cx="200" cy="200" rx="60" ry="80" transform='rotate(@i 200 200)' style="fill:none;stroke:purple;stroke-width:2"></ellipse>
            }



       @* @foreach(Auto item in autosG)
        {
            <rect x="@item.X" y="@item.Y" width="@item.W" height="@item.H" style="fill:rgb(255,0,0);stroke-width:1;stroke:rgb(255,0,0)" />
        }
        @foreach(Auto item in autosQ)
        {
            <rect x="@item.X" y="@item.Y" width="@item.W" height="@item.H" style="fill:rgb(255,0,0);stroke-width:1;stroke:rgb(255,0,0)" />
        }*@
    </svg>  
</div>
}

@code {
    private System.Threading.Timer? timer; // NOTE: THIS LINE OF CODE ADDED
    private string pressedKey = "";
    private List<Auto> autosQ= new List<Auto>();
    private List<Auto> autosG= new List<Auto>();
    private ElementReference testRef;

    protected override async Task OnInitializedAsync()
    {
        autosQ.Add(new Auto(20, 200, 10, 10));
        autosQ.Add(new Auto(0, 200, 10, 10));
        autosG.Add(new Auto(200, 400, 10, 10));
        autosG.Add(new Auto(200, 380, 10, 10));

        timer = new System.Threading.Timer((object? stateInfo) =>
        {
            foreach (var item in autosQ)
            {
                item.Move(10, Direction.RIGHT);
            }
            foreach (var item in autosG)
            {
                item.Move(10, Direction.UP);
            }

            StateHasChanged(); // NOTE: MUST CALL StateHasChanged() 
                               // BECAUSE THIS IS TRIGGERED BY A TIMER INSTEAD OF A USER EVENT
    }, new System.Threading.AutoResetEvent(false), 50, 50);
    }
}