﻿@page "/createdata"

@inject NavigationManager NavManager
@using DependencyInjectionAufgabe6.Data
@using DependencyInjectionDLL
@using MySqlConnector

<PageTitle>CREATE</PageTitle>

<h1>Auto hinzufügen</h1>
<p>Ihre neue ID wird automatisch vom System hinzugefügt, deswegen wird diese hier nicht angegeben.</p>

@if (auto == null)
{
    <p><em>Loading...</em></p>
}
else
{


    <EditForm Model="@auto">
              <!-- <input type="text" placeholder="Enter your text" @bind-value=@auto.id/> -->
              <input type="text" placeholder="Automarke" @bind-value=@auto.marke/>
              <input type="text" placeholder="Modell" @bind-value=@auto.modell/>
              <input type = "submit" placeholder="Add" @onclick="@UpdateAuto"/>
    </EditForm>
}
@code{
    auto auto;

    protected override async Task OnInitializedAsync()
    {
        auto = new auto { marke = "", modell = "" };
    }

    private async Task UpdateAuto()
    {
        await DbManagement.getInstance().WV.InsertAsync(auto);
        NavManager.NavigateTo("fetchdata");
    }
}