﻿@page "/delete/{id:int}"
@inject NavigationManager NavManager
@using DependencyInjectionAufgabe6.Data
@using DependencyInjectionDLL
@using MySqlConnector


@if (auto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@auto">
        <h1>Auto mit der ID @auto.id wird aus der Werkstatt entfernt. Bist da sicher?</h1>
        <input type ="submit" @onclick="@DeleteAuto"/>
    </EditForm>
}

@code{
    [Parameter]
    public int Id { get; set; }
    static MySqlConnection c = new MySqlConnection("Server=localhost;User ID=root;Password=;Database=db_werkstatt");
    WerkstattVerwaltung WV = new WerkstattVerwaltung(c);
    auto auto;
    protected override async Task OnInitializedAsync()
    {
        auto = await DbManagement.getInstance().WV.GetOneAsync(Id);
        //auto= await Task.Run(() => WV.GetOne(Id));
    }
    private async Task DeleteAuto()
    {
        await DbManagement.getInstance().WV.DeleteAsync(auto);
        //await Task.Run(() => WV.Delete(auto));

        NavManager.NavigateTo("fetchdata");
    }
}