﻿@page "/edit/{id:int}"

<PageTitle>EDIT</PageTitle>
@inject NavigationManager NavManager;
@using DependencyInjectionAufgabe6.Data
@using MySqlConnector;
@using DependencyInjectionDLL

@if (auto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@auto">
        <input disabled="disabled" @bind=@auto.id/>
        <input @bind=@auto.marke/>
        <input @bind=@auto.modell/>
        <input type ="submit" @onclick="@UpdateAuto"/>
    </EditForm>
}
@code {
    [Parameter]
    public int Id { get; set; }

    auto auto;

    protected override async Task OnInitializedAsync()
    {
        auto = await DbManagement.getInstance().WV.GetOneAsync(Id);
        //auto= await Task.Run(() => WV.GetOne(Id));
    }
    private async Task UpdateAuto()
    {
        await DbManagement.getInstance().WV.EditByIDAsync(auto);
        //await Task.Run(() => WV.EditByIDAsync(auto));
        NavManager.NavigateTo("fetchData");
    }
}