﻿@page "/fetchdata"

<PageTitle>Werkstatt</PageTitle>

@using DependencyInjectionAufgabe6.Data
@using DependencyInjectionDLL
@using MySqlConnector


<h1>Werkstatt</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (listAuto == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Funktion</th>
                <th>ID</th>
                <th>Marke</th>
                <th>Modell</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="/createdata">Insert</a>
                </td>
            </tr>
            @foreach (var car in listAuto)
            {
                <tr>

                    <td>
                        <a href="/edit/@car.id.ToString()">Edit</a>
                        <a href="/delete/@car.id.ToString()">Delete</a>
                    </td>

                    <td>@car.id</td>
                    <td>@car.marke</td>
                    <td>@car.modell</td>
                  
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<auto> listAuto;
    private System.Threading.Timer timer;

    protected override async Task OnInitializedAsync()
    {
       timer = new System.Threading.Timer(async (object stateInfo) =>
            {
               listAuto = await  DbManagement.getInstance().WV.GetAllAsync();
        await InvokeAsync(StateHasChanged);
        }, new System.Threading.AutoResetEvent(false), 1000, 1000));
    }
    
}

    

