﻿@page "/fetchdata2"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>



   <button @onclick="generate">Generate</button>
    <button @onclick="Sort">BubbleSort</button>
<div style="height:200px; width:200px;background-color:gray;">
    <svg height="200" width="200">

        @for (int i = 0; i < array.GetLength(0); i++)
        {
            <circle cx=@i cy=@array[i] r="1" stroke="black" stroke-width="1" fill="red" />    
        }
    }
     
    </svg>
</div>
   

@code {

    int[] array = new int[100];
    Random rand = new Random();
    public int maxNum = 200;
    private ElementReference testRef;

    public void generate()
    {
        for (int i = 0; i < array.GetLength(0); i++)
        {
            array[i] = rand.Next(maxNum + 1);
        }
    }

    public static async Task BubbleSort(int[] a)
    {
        for (int i = 1; i <= a.Length - 1; ++i)
        {
            for (int j = 0; j < a.Length - i; ++j)
            {
                if (a[j] > a[j + 1])
                {
                    int temp = a[j];
                    a[j] = a[j+1];
                    a[j+1] = temp;
                    await Task.Delay(1);
                }
            }

        }
        
        


    }

    protected async Task Sort()
    {
        await BubbleSort(array);
    }
    private System.Threading.Timer? timer; // NOTE: THIS LINE OF CODE ADDED
    protected override void OnInitialized()
    {
        timer = new System.Threading.Timer( (object? stateInfo) =>
    {
       StateHasChanged(); // NOTE: MUST CALL StateHasChanged() 
                          // BECAUSE THIS IS TRIGGERED BY A TIMER INSTEAD OF A USER EVENT
    }, new System.Threading.AutoResetEvent(false), 50, 50); // fire every 50 milliseconds

    }

    

}
