﻿@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>

 <svg xmlns="http://www.w3.org/2000/svg" viewBox="-100 100 500 300">
        <!-- VERTIKALE LINIEN-->
        @for(int i = 100; i<=200; i = i+10)
        {
            <line x1="0" y1=@i x2="200" y2=@i style="stroke:grey;stroke-width:0.5;stroke-opacity:50%" />
        }
        <!--HORIZINTALE LINIEN-->
        @for (int i = 0; i<=200; i = i+10)
        {
            <line x1=@i y1="0" x2=@i y2="200" style="stroke:grey;stroke-width:0.5;stroke-opacity:50%" />
        }
        <!--HISTOGRAMM-->
        @for(int i = 0, posx = 0; i< forecasts.Length; i++, posx= posx + 20)
        {
            
            if (@forecasts[i].TemperatureC >= 0)
            {
                int posy = 150 - @forecasts[i].TemperatureC;
                <rect x=@posx width=10 y=@posy height=@forecasts[i].TemperatureC fill="green"></rect>
            }
            else
            {
                int posy = 150;
                h = - @forecasts[i].TemperatureC;
                <rect x=@posx width=10 y=@posy height=@h fill="blue"></rect>
                
            }           
        }
                    <line x1="0" y1="0" x2="0" y2="200" style="stroke:black;stroke-width:1" />
            <line x1="0" y1="150" x2="200" y2="150" style="stroke:black;stroke-width:1" />
            
        @for (int i = 0, posx=5; i < forecasts.Length -1; i++, posx+=20)
        {
            <line x1=@posx y1=@(150 - forecasts[i].TemperatureC) x2=@(posx+20) y2=@(150- forecasts[i+1].TemperatureC) style="stroke:black;stroke-width:1"/>
            
        }

    </svg>

}

@code {
    private WeatherForecast[]? forecasts;
    private int h = 0;
    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");

    }
    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
