﻿@page "/sinus"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p>Ampli</p><p>Hertz</p>
<input @bind="Ampli" />
<input @bind="her" />

<p>Ampli</p><p>Hertz</p>
<input @bind="Ampli2" />
<input @bind="her2" />
<button @onclick="draw" style="width:100px; height:30px;">Draw</button>
<div style="height:400px; width:600px;background-color:gray;">
    <svg height="400" width="600">

    @for (int i = 0; i < buffer.GetLength(0); i++)
    {
        <circle cx=@i cy=@(buffer[i]+200) r="1" stroke="black" stroke-width="1" fill="red" />    
    }

    @for (int i = 0; i < buffer2.GetLength(0); i++)
    {
        <circle cx=@i cy=@(buffer2[i]+200) r="1" stroke="green" stroke-width="1" fill="red" />    
    }
    @for (int i = 0; i < buffer3.GetLength(0); i++)
    {
        <circle cx=@i cy=@(buffer3[i]+200) r="1" stroke="blue" stroke-width="1" fill="red" />    
    }
     
    </svg>
</div>
<div style="height:400px; width:600px;background-color:lightblue; transform:scale(1 ,-1)">
    <svg height="400" width="600" style="transform:translate(0 ,200)">

    @for (int i = 0; i < buffer.GetLength(0)-1; i++)
    {
        <line x1=@i y1=@(buffer[i]) x2=@(i+1) y2=@(buffer[i+1]) stroke="black" stroke-width="1" fill="red" />    
    }
    @for (int i = 0; i < buffer2.GetLength(0)-1; i++)
    {
        <line x1=@i y1=@(buffer2[i]) x2=@(i+1) y2=@(buffer2[i+1]) stroke="green" stroke-width="1" fill="red" />    
    }
    @for (int i = 0; i < buffer3.GetLength(0)-1; i++)
    {
        <line x1=@i y1=@(buffer3[i]) x2=@(i+1) y2=@(buffer3[i+1]) stroke="blue" stroke-width="1" fill="red" />    
    }
     
    </svg>
</div>


   
@for(int i = 0; i <buffer.GetLength(0); i++)
{
    <p>@i  - @(buffer[i])</p>
}

@code {
    private ElementReference testRef;
    
    double[] buffer = new double[360];
    double[] buffer2 = new double[360];
    double[] buffer3 = new double[360];
    private string? her = "";
    private double hertz = 1;
    private string? Ampli = "";
    private int amplitude = 180;

    private string? her2 = "";
    private double hertz2 = 1;
    private string? Ampli2 = "";
    private int amplitude2 = 180;

    
    private void draw()
    {
        hertz = Convert.ToDouble(her);
        amplitude = Convert.ToInt32(Ampli);
        buffer = new double[360];

        for (int i = 0; i < buffer.GetLength(0); i++)
        {
            buffer[i] = (int)(amplitude* (Math.Sin( hertz * Math.PI * i /180)));
        }

        hertz2 = Convert.ToDouble(her2);
        amplitude2 = Convert.ToInt32(Ampli2);
        buffer2 = new double[360];

        for (int i = 0; i < buffer2.GetLength(0); i++)
        {
            buffer2[i] = (int)(amplitude2* (Math.Sin( hertz2 * Math.PI * i /180)));
        }
        
        for (int i = 0; i < buffer3.GetLength(0); i++)
        {
            buffer3[i] = (int) buffer2[i]+buffer[i];
        }
    }


    private System.Threading.Timer? timer; // NOTE: THIS LINE OF CODE ADDED
    protected override void OnInitialized()
    {
        
        timer = new System.Threading.Timer( (object? stateInfo) =>
    {
        StateHasChanged(); // NOTE: MUST CALL StateHasChanged() 
                           // BECAUSE THIS IS TRIGGERED BY A TIMER INSTEAD OF A USER EVENT
    }, new System.Threading.AutoResetEvent(false), 50, 50); // fire every 50 milliseconds

    }
    
    

}
